<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste 1</title>
</head>
<body>

    <div id="app">
        <input 
         type="text" 
         id="input" 
         placeholder="Name"
         v-model="fullName"
        >

        <ul  id="list">
            <li 
             v-for="(item,index) in clients"
             v-if=" filterClient(item)"
            >
                <a href="#" v-on:click="selectClient(index)" > 
                   {{ item.name }}  
                </a>
            </li>
        </ul>

        <p id="info" >
            Nome selecionado: 
            <b> 
                {{ message }}
            </b>
        </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./main.js"></script>
</body>
</html>